In [1]:
import pandas as pd

In [2]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

In [3]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [4]:
bagOfWordsA

['the', 'man', 'went', 'out', 'for', 'a', 'walk']

In [5]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'a',
 'around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went'}

In [6]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
numOfWordsA

{'walk': 0,
 'went': 0,
 'for': 0,
 'children': 0,
 'sat': 0,
 'man': 0,
 'a': 0,
 'fire': 0,
 'around': 0,
 'out': 0,
 'the': 0}

In [7]:
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsA

{'walk': 1,
 'went': 1,
 'for': 1,
 'children': 0,
 'sat': 0,
 'man': 1,
 'a': 1,
 'fire': 0,
 'around': 0,
 'out': 1,
 'the': 1}

In [8]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

numOfWordsB

{'walk': 0,
 'went': 0,
 'for': 0,
 'children': 1,
 'sat': 1,
 'man': 0,
 'a': 0,
 'fire': 1,
 'around': 1,
 'out': 0,
 'the': 2}

In [9]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [10]:
tfA = computeTF(numOfWordsA,bagOfWordsA)
tfA

{'walk': 0.14285714285714285,
 'went': 0.14285714285714285,
 'for': 0.14285714285714285,
 'children': 0.0,
 'sat': 0.0,
 'man': 0.14285714285714285,
 'a': 0.14285714285714285,
 'fire': 0.0,
 'around': 0.0,
 'out': 0.14285714285714285,
 'the': 0.14285714285714285}

In [11]:
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfB

{'walk': 0.0,
 'went': 0.0,
 'for': 0.0,
 'children': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'man': 0.0,
 'a': 0.0,
 'fire': 0.16666666666666666,
 'around': 0.16666666666666666,
 'out': 0.0,
 'the': 0.3333333333333333}

In [12]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [13]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'walk': 0.6931471805599453,
 'went': 0.6931471805599453,
 'for': 0.6931471805599453,
 'children': 0.6931471805599453,
 'sat': 0.6931471805599453,
 'man': 0.6931471805599453,
 'a': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'around': 0.6931471805599453,
 'out': 0.6931471805599453,
 'the': 0.0}

In [14]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [15]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'walk': 0.09902102579427789,
 'went': 0.09902102579427789,
 'for': 0.09902102579427789,
 'children': 0.0,
 'sat': 0.0,
 'man': 0.09902102579427789,
 'a': 0.09902102579427789,
 'fire': 0.0,
 'around': 0.0,
 'out': 0.09902102579427789,
 'the': 0.0}

In [16]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'walk': 0.0,
 'went': 0.0,
 'for': 0.0,
 'children': 0.11552453009332421,
 'sat': 0.11552453009332421,
 'man': 0.0,
 'a': 0.0,
 'fire': 0.11552453009332421,
 'around': 0.11552453009332421,
 'out': 0.0,
 'the': 0.0}

In [17]:
df = pd.DataFrame([tfidfA, tfidfB])
df.head()

,walk,went,for,children,sat,man,a,fire,around,out,the
0,0.099021,0.099021,0.099021,0.000000,0.000000,0.099021,0.099021,0.000000,0.000000,0.099021,0.0
1,0.000000,0.000000,0.000000,0.115525,0.115525,0.000000,0.000000,0.115525,0.115525,0.000000,0.0

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
print(vectors)

  (0, 8)	0.42615959880289433
  (0, 3)	0.42615959880289433
  (0, 5)	0.42615959880289433
  (0, 9)	0.42615959880289433
  (0, 4)	0.42615959880289433
  (0, 7)	0.3032160644503863
  (1, 2)	0.40740123733358447
  (1, 0)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 1)	0.40740123733358447
  (1, 7)	0.5797386715376657

In [20]:
# get each value to the word
feature_names = vectorizer.get_feature_names()
feature_names

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went']

In [21]:
dense = vectors.todense()
dense

matrix([[0.        , 0.        , 0.        , 0.4261596 , 0.4261596 ,
         0.4261596 , 0.        , 0.30321606, 0.4261596 , 0.4261596 ],
        [0.40740124, 0.40740124, 0.40740124, 0.        , 0.        ,
         0.        , 0.40740124, 0.57973867, 0.        , 0.        ]])

In [22]:
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer



data = pd.read_csv('https://github.com/HeshamAsem/NLP/blob/main/Code%20Section%2004/Questions.csv?raw=True', sep=',')
data.head()

,Unnamed: 0,Id,OwnerUserId,CreationDate,Score,Title,Body
0,0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [26]:
X = data['Title']
y = data['Score']

VecModel = TfidfVectorizer()
X_Vec = VecModel.fit_transform(X)
X_Vec = pd.DataFrame.sparse.from_spmatrix(X_Vec)

print(f'The new shape for X is {X_Vec.shape}')
X_Vec.head()

The new shape for X is (10000, 6870)

,0,1,2,3,4,5,6,7,8,9,...,6860,6861,6862,6863,6864,6865,6866,6867,6868,6869
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
for i in range(5) : 
    print(sorted(list(X_Vec.iloc[i,:]),reverse = True)[:20])
    print('--------------------------------------------------')

[0.422178222176151, 0.3716395905037442, 0.32955184359276674, 0.32666367121717127, 0.3035936514537762, 0.28427933869442007, 0.27713713250250954, 0.2615059045427987, 0.18645448981827298, 0.18597326273423462, 0.17584122839792515, 0.14999446597627894, 0.12187283198225851, 0.11197776573544506, 0, 0, 0, 0, 0, 0]
--------------------------------------------------
[0.5426412233100997, 0.5289190014000659, 0.4187346787909365, 0.2942839268145828, 0.27016796115062247, 0.2329935255908615, 0.19122427073824194, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
--------------------------------------------------
[0.5645125193070204, 0.5215694064886434, 0.4786262936702665, 0.3573365447207418, 0.20580239279118884, 0.10081572147562867, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
--------------------------------------------------
[0.5090625627208644, 0.45228021334724877, 0.45228021334724877, 0.3752194639691171, 0.33991401883074684, 0.22478750070301515, 0.15773369219653524, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
--------------------------------------------------
[0.49545501901989014, 0.4017251355893547, 0.3767557017869033, 0.3688488495096409, 0.35419360075396095, 0.2623900054302421, 0.22779365299689125, 0.19507232588073126, 0.14311257279773454, 0.10208288800026773, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
--------------------------------------------------

In [28]:
import pandas as pd

In [29]:
documentA = 'Ø°Ù‡Ø¨ Ù…Ø­Ù…Ø¯ Ø§Ù„ÙŠ Ø§Ù„Ø¬Ø§Ù…Ø¹Ø© Ù„ÙŠØ¯Ø±Ø³ Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡ Ùˆ Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡'
documentB = 'Ø°Ø§ÙƒØ±Øª Ù…Ù†ÙŠ Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª Ùˆ Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡ ÙÙŠ Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©'

In [30]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [31]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©',
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª',
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡',
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡',
 'Ø§Ù„ÙŠ',
 'Ø°Ø§ÙƒØ±Øª',
 'Ø°Ù‡Ø¨',
 'ÙÙŠ',
 'Ù„ÙŠØ¯Ø±Ø³',
 'Ù…Ø­Ù…Ø¯',
 'Ù…Ù†ÙŠ',
 'Ùˆ'}

In [32]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsA

{'Ø§Ù„ÙŠ': 1,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 1,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 1,
 'ÙÙŠ': 0,
 'Ø°Ù‡Ø¨': 1,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 1,
 'Ø°Ø§ÙƒØ±Øª': 0,
 'Ù…Ø­Ù…Ø¯': 1,
 'Ù„ÙŠØ¯Ø±Ø³': 1,
 'Ù…Ù†ÙŠ': 0,
 'Ùˆ': 1}

In [33]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

numOfWordsB

{'Ø§Ù„ÙŠ': 0,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 1,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0,
 'ÙÙŠ': 1,
 'Ø°Ù‡Ø¨': 0,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 1,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 1,
 'Ø°Ø§ÙƒØ±Øª': 1,
 'Ù…Ø­Ù…Ø¯': 0,
 'Ù„ÙŠØ¯Ø±Ø³': 0,
 'Ù…Ù†ÙŠ': 1,
 'Ùˆ': 1}

In [34]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [35]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfA

{'Ø§Ù„ÙŠ': 0.125,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 0.125,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0.125,
 'ÙÙŠ': 0.0,
 'Ø°Ù‡Ø¨': 0.125,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0.0,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 0.125,
 'Ø°Ø§ÙƒØ±Øª': 0.0,
 'Ù…Ø­Ù…Ø¯': 0.125,
 'Ù„ÙŠØ¯Ø±Ø³': 0.125,
 'Ù…Ù†ÙŠ': 0.0,
 'Ùˆ': 0.125}

In [36]:
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfB

{'Ø§Ù„ÙŠ': 0.0,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 0.14285714285714285,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0.0,
 'ÙÙŠ': 0.14285714285714285,
 'Ø°Ù‡Ø¨': 0.0,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0.14285714285714285,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 0.14285714285714285,
 'Ø°Ø§ÙƒØ±Øª': 0.14285714285714285,
 'Ù…Ø­Ù…Ø¯': 0.0,
 'Ù„ÙŠØ¯Ø±Ø³': 0.0,
 'Ù…Ù†ÙŠ': 0.14285714285714285,
 'Ùˆ': 0.14285714285714285}

In [37]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [38]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'Ø§Ù„ÙŠ': 0.6931471805599453,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 0.0,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0.6931471805599453,
 'ÙÙŠ': 0.6931471805599453,
 'Ø°Ù‡Ø¨': 0.6931471805599453,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0.6931471805599453,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 0.0,
 'Ø°Ø§ÙƒØ±Øª': 0.6931471805599453,
 'Ù…Ø­Ù…Ø¯': 0.6931471805599453,
 'Ù„ÙŠØ¯Ø±Ø³': 0.6931471805599453,
 'Ù…Ù†ÙŠ': 0.6931471805599453,
 'Ùˆ': 0.0}

In [39]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [40]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'Ø§Ù„ÙŠ': 0.08664339756999316,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 0.0,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0.08664339756999316,
 'ÙÙŠ': 0.0,
 'Ø°Ù‡Ø¨': 0.08664339756999316,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0.0,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 0.0,
 'Ø°Ø§ÙƒØ±Øª': 0.0,
 'Ù…Ø­Ù…Ø¯': 0.08664339756999316,
 'Ù„ÙŠØ¯Ø±Ø³': 0.08664339756999316,
 'Ù…Ù†ÙŠ': 0.0,
 'Ùˆ': 0.0}

In [41]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'Ø§Ù„ÙŠ': 0.0,
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡': 0.0,
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡': 0.0,
 'ÙÙŠ': 0.09902102579427789,
 'Ø°Ù‡Ø¨': 0.0,
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª': 0.09902102579427789,
 'Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©': 0.0,
 'Ø°Ø§ÙƒØ±Øª': 0.09902102579427789,
 'Ù…Ø­Ù…Ø¯': 0.0,
 'Ù„ÙŠØ¯Ø±Ø³': 0.0,
 'Ù…Ù†ÙŠ': 0.09902102579427789,
 'Ùˆ': 0.0}

In [42]:
df = pd.DataFrame([tfidfA, tfidfB])
df.head()

,Ø§Ù„ÙŠ,Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡,Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡,ÙÙŠ,Ø°Ù‡Ø¨,Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª,Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©,Ø°Ø§ÙƒØ±Øª,Ù…Ø­Ù…Ø¯,Ù„ÙŠØ¯Ø±Ø³,Ù…Ù†ÙŠ,Ùˆ
0,0.086643,0.0,0.086643,0.000000,0.086643,0.000000,0.0,0.000000,0.086643,0.086643,0.000000,0.0
1,0.000000,0.0,0.000000,0.099021,0.000000,0.099021,0.0,0.099021,0.000000,0.000000,0.099021,0.0

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
print(vectors)

  (0, 3)	0.4078241041497786
  (0, 2)	0.29017020899133733
  (0, 8)	0.4078241041497786
  (0, 0)	0.29017020899133733
  (0, 4)	0.4078241041497786
  (0, 9)	0.4078241041497786
  (0, 6)	0.4078241041497786
  (1, 7)	0.4466561618018052
  (1, 1)	0.4466561618018052
  (1, 10)	0.4466561618018052
  (1, 5)	0.4466561618018052
  (1, 2)	0.31779953783628945
  (1, 0)	0.31779953783628945

In [44]:
feature_names = vectorizer.get_feature_names()
feature_names

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©',
 'Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª',
 'Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡',
 'Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡',
 'Ø§Ù„ÙŠ',
 'Ø°Ø§ÙƒØ±Øª',
 'Ø°Ù‡Ø¨',
 'ÙÙŠ',
 'Ù„ÙŠØ¯Ø±Ø³',
 'Ù…Ø­Ù…Ø¯',
 'Ù…Ù†ÙŠ']

In [45]:
dense = vectors.todense()
dense

matrix([[0.29017021, 0.        , 0.29017021, 0.4078241 , 0.4078241 ,
         0.        , 0.4078241 , 0.        , 0.4078241 , 0.4078241 ,
         0.        ],
        [0.31779954, 0.44665616, 0.31779954, 0.        , 0.        ,
         0.44665616, 0.        , 0.44665616, 0.        , 0.        ,
         0.44665616]])

In [46]:
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,Ø§Ù„Ø¬Ø§Ù…Ø¹Ø©,Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª,Ø§Ù„ÙÙŠØ²ÙŠØ§Ø¡,Ø§Ù„ÙƒÙŠÙ…ÙŠØ§Ø¡,Ø§Ù„ÙŠ,Ø°Ø§ÙƒØ±Øª,Ø°Ù‡Ø¨,ÙÙŠ,Ù„ÙŠØ¯Ø±Ø³,Ù…Ø­Ù…Ø¯,Ù…Ù†ÙŠ
0,0.29017,0.000000,0.29017,0.407824,0.407824,0.000000,0.407824,0.000000,0.407824,0.407824,0.000000
1,0.31780,0.446656,0.31780,0.000000,0.000000,0.446656,0.000000,0.446656,0.000000,0.000000,0.446656